[submodule "third_party/serve"]
	path = third_party/serve
	url = https://github.com/vercel/serve.git
[submodule "third_party/serve-handler"]
	path = third_party/serve-handler
	url = https://github.com/vercel/serve-handler.git
